<div class="container-fluid">
    <div class="row mh-100vh">
        <div class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0" id="login-block">
            <div class="m-auto w-lg-75 w-xl-50">
                <h2 class="text-info font-weight-light mb-5" style="color: rgb(61,22,81) !important;"><img src="assets/img/logo_125.png">Canguro Real</h2>
                <form (ngSubmit)="login(f)" #f="ngForm">
                    <div class="form-group">
                        <label class="text-secondary">
							User Phone
						</label>
                        <input [(ngModel)]="user.user" name="user" class="form-control" type="text" required="" pattern="[0-9]{9}" placeholder="Enter your Phone Number">
                    </div>
                    <div class="form-group">
                        <label class="text-secondary">
							Password
						</label>
                        <input class="form-control" type="password" required="" password [(ngModel)]="user.password" name="password" minlength="6" placeholder="enter your Password">
                    </div>
                    <button class="btn btn-info mt-2" type="submit" style="background-color: rgb(61,22,81);">Log In</button>
                </form>
                <p class="mt-3 mb-0" style="color: rgb(61,22,81) !important;"><a class="text-info small" href="#">
					Forgot your email or password?
				</a>
                </p>
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-end" id="bg-block" style="background-size: cover;background-position: center center;background-image: url('assets/img/fondo_login.jpg');background-color: #401651;">
            <p class="ml-auto small text-dark mb-2"><em>Photo by&nbsp;</em><a class="text-dark" href="https://unsplash.com/photos/v0zVmWULYTg?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank"><em>Aldain Austria</em></a><br></p>
        </div>
    </div>
</div>



<div class="card text-center">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">
					¡Registrate!
				</button>
            </div>
            <div class="col">
                <hr />
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".loginModal">
					¡Logueate!
				</button>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        RiojaCanguro
    </div>
</div>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Registro
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="signup(s)" #s="ngForm">
                    <div class="row">
                        <div class="col">
                            <!-- <span *ngIf="s.submitted && s.controls['name'].errors" class="text-danger animated fadeInLeft">El nombre es obligatorio</span> -->
                            <div class="form-group">
                                <label for="inputName">Single Name</label>
                                <input type="text" [(ngModel)]="sign.name" name="name" required class="form-control" id="inputName" placeholder="Enter your name" />
                            </div>
                        </div>
                        <div class="col">
                            <!-- <span *ngIf="s.submitted && s.controls['lastName'].errors" class="text-danger animated fadeInLeft">El Apellido es obligatorio</span> -->
                            <div class="form-group">
                                <label for="inputLastName">Last Name</label>
                                <input type="text" [(ngModel)]="sign.lastName" name="lastName" required class="form-control" id="inputLastName" placeholder="Enter your last name" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- <span *ngIf="s.submitted && s.controls['dni'].errors" class="text-danger animated fadeInLeft">El DNI es obligatorio</span> -->
                            <div class="form-group">
                                <label for="inputDNI">DNI</label>
                                <input type="text" [(ngModel)]="sign.dni" name="dni" required class="form-control" id="inputDNI" placeholder="Enter your DNI" />
                            </div>
                        </div>
                        <div class="col">
                            <!-- <span *ngIf="s.submitted && s.controls['bornDate'].errors" class="text-danger animated fadeInLeft">La fecha de nacimiento es obligatorio</span> -->
                            <div class="form-group">
                                <label for="inputDate">Born Date</label>
                                <input type="date" require [(ngModel)]="sign.bornDate" name="bornDate" id="inputBornDate" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- <span *ngIf="s.submitted && s.controls['phone'].errors" class="text-danger animated fadeInLeft">El numero de telefono es obligatorio</span> -->
                            <div class="form-group">
                                <label for="inputPhone">Phone</label>
                                <input type="text" [(ngModel)]="sign.phone" name="phone" required class="form-control" id="inputPhone" placeholder="Enter your Phone Number" />
                            </div>
                        </div>
                        <div class="col">
                            <!-- <span *ngIf="s.submitted && s.controls['email'].errors" class="text-danger animated fadeInLeft">El Email es obligatorio</span> -->
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="text" email require [(ngModel)]="sign.email" name="email" id="inputEmail" class="form-control" placeholder="Enter you email" />
                            </div>
                        </div>
                        <div class="col">
                            <!-- <span *ngIf="s.submitted && s.controls['password'].errors" class="text-danger animated fadeInLeft">La contraseña es obligatorio</span> -->
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label
								>
								<input
									type="password"
									[(ngModel)]="sign.password"
									name="password"
									required
									minlength="6"
									class="form-control"
									id="exampleInputPassword1"
									placeholder="Password"
								/>
							</div>
						</div>
					</div>

					<button type="submit" class="btn btn-primary">
						¡Registrar!
					</button>
				</form>
			</div>

			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-dismiss="modal"
				>
					Close
				</button>
			</div>
		</div>
	</div>
</div>

<div
	class="modal fade loginModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="myLargeModalLabel"
	aria-hidden="true"
>
	<!-- <div class="modal-dialog modal-lg ">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">
					Login
				</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form (ngSubmit)="login(f)" #f="ngForm">
					<div class="form-group">
						<label for="exampleInputEmail1">Phone Number</label>
                                <input type="text" [(ngModel)]="user.user" name="user" required class="form-control" id="exampleInputEmail1" aria-describedby="userHelp" placeholder="Enter user" />
                                <small id="emailHelp" class="form-text text-muted">Your User is your phone number.</small
						>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input
							type="password"
							[(ngModel)]="user.password"
							name="password"
							required
							minlength="6"
							class="form-control"
							id="exampleInputPassword1"
							placeholder="Password"
						/>
					</div>
					<div class="form-group form-check">
						<input
							type="checkbox"
							class="form-check-input"
							id="exampleCheck1"
						/>
						<label class="form-check-label" for="exampleCheck1"
							>Check me out</label
						>
						<span
							>Aun no registrado? Registrate
							<a routerLink="/signin">aquí</a></span
						>
					</div>
					<button type="submit" class="btn btn-primary">
						Submit
					</button>
				</form>
			</div>

			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-dismiss="modal"
				>
					Close
				</button>
			</div>
		</div>
	</div> -->
</div>